[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = tab
max_line_length = 80
tab_width = 2
trim_trailing_whitespace = true

; Visual Studio Code behaves unpredictably if the files.autoSave setting is
; enabled with the option below.
; insert_final_newline = true

; YAML
[*.{yaml,yml}]
indent_style = space
