name: Audit

permissions: {}

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  audit:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup mise
      uses: jdx/mise-action@v2

    - name: Install dependencies
      run: pnpm install --frozen-lockfile

    - name: Build package
      run: pnpm build-package

    - name: Lint types
      run: pnpm lint-types

    - name: Lint code
      run: pnpm lint-code
