name: Publish

permissions: {}

on:
  workflow_dispatch:
  workflow_run:
    workflows:
    - Release
    types:
    - completed

jobs:
  build:
    if: ${{github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success'}}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup mise
      uses: jdx/mise-action@v2

    - name: Install dependencies
      run: pnpm install --frozen-lockfile

    - name: Build documentation
      run: pnpm build-docs

    - name: Upload documentation
      uses: actions/upload-artifact@v4
      with:
        name: docs
        path: docs/
        if-no-files-found: error

  gp:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup GitHub Actions Bot
      uses: vanyauhalin/action-gh-bot@v0

    - name: Download documentation
      uses: actions/download-artifact@v4
      with:
        name: docs

    - name: Publish documentation
      uses: vanyauhalin/action-gh-pages@v0
      with:
        working-directory: docs/
